<div class="table-responsive">
  <table class="table table-hover mb-0 align-middle wide-table" id="orderTable">
    <thead>
      <tr>
        <th class="nowrap sticky-col">관리번호</th>
        <th class="nowrap">발주일자</th>
        <th class="nowrap">진행상태</th>
        <th class="nowrap">오더구분</th>
        <th class="nowrap">사용처</th>
        <th class="nowrap">발주처</th>
        <th class="nowrap">제품군</th>
        <th class="nowrap">소켓군</th>
        <th class="nowrap">Ball type</th>
        <th class="nowrap">품명1</th>
        <th class="nowrap">품명2</th>
        <th class="text-end nowrap">수량</th>
        <th class="nowrap">설계 시작</th>
        <th class="nowrap">설계 종료</th>
        <th class="nowrap">사급 1차</th>
        <th class="nowrap">사급 2차</th>
        <th class="nowrap">사급 3차</th>
        <th class="nowrap">가공 1차</th>
        <th class="nowrap">가공 최종</th>
        <th class="nowrap">조립 시작</th>
        <th class="nowrap">조립 종료</th>
        <th class="nowrap">출고일자</th>
        <th class="nowrap">비고</th>
      </tr>
    </thead>
    <tbody id="orderTableBody">
      <!-- DB 데이터가 로드될 영역 -->
    </tbody>
  </table>
</div>
<div class="d-flex flex-wrap justify-content-between align-items-center p-2">
  <div class="text-muted small" id="tableInfo">총 0건</div>
</div>